In [1]:
# Dependencies and Setup

import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "C:\\Users\\rdienst1\\Downloads\\schools_complete.csv"
student_data_to_load = "C:\\Users\\rdienst1\\Downloads\\students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

In [2]:
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [17]:
#District summary calculations

#Calculate total schools
total_schools = len(school_data_df["School ID"].unique())
#Calculate total students
total_students = len(student_data_df["Student ID"].unique())
#Calculate total budget
total_budget = (school_data_df["budget"].sum())
#Calculate the average math score
average_math_score = (student_data_df["math_score"].mean())
#Calculate the average reading score
average_reading_score = (student_data_df["reading_score"].mean())

#Calculate the percentage of students with a passing math score
math_passing_df = student_data_df[student_data_df["math_score"]>=70]
math_passing_count = math_passing_df.count()
math_passing_calc = math_passing_count / total_students
math_passing_rate = math_passing_calc[1]*100

#Calculate the percentage of students with a passing reading score
reading_passing_df = student_data_df[student_data_df["reading_score"]>=70]
reading_passing_count = reading_passing_df.count()
reading_passing_calc = reading_passing_count / total_students
reading_passing_rate = reading_passing_calc[1]*100

#Calculate the overall passing rate
overall_passing_rate = ((math_passing_rate + reading_passing_rate) / 2)

In [18]:
#Create summary table from district summary calculations
summary_table = pd.DataFrame({"Total Schools":[total_schools],
                              "Total Students":[total_students],
                              "Total Budget":[total_budget],
                              "Average Math Score":[average_math_score],
                              "Average Reading Score":[average_reading_score],
                              "% Passing Math":[math_passing_rate],
                              "% Passing Reading":[reading_passing_rate],
                              "% Overall Passing Rate":[overall_passing_rate]})

summary_table

,% Overall Passing Rate,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Total Budget,Total Schools,Total Students
0,80.393158,74.980853,85.805463,78.985371,81.87784,24649428,15,39170